body {
	font-size: 1.5em;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

form {
	display: flex;
}

[data-todos] {
	max-width: 32rem;
	display: grid;
	gap: 1.5rem;
	margin-inline: auto;

	h1 {
		text-align: center;
	}

	div,
	label {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}

	input[type='text'] {
		width: 100%;
	}
}

div > * + * {
	/* margin-block-start: 1.5rem; */
}

input[type='checkbox']:checked + span {
	text-decoration: line-through;
}
